<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="L1jDatabaseManager.Properties.Settings.ConnectionString"
            connectionString="Dsn=MySQL;uid=root;pwd=12345" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>